.grid-flow{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-head{
    font-size: 2rem;
    font-weight: bold;   
    grid-column-start: 1;
    grid-column-end: 5;
}

.food-item .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-item .row select{
    font-size: 18px;
    padding: 1px 5px
}

.food-item{
    width: 20vw;
}
.food-item h3{
    margin: 10px 0;
    font-size: 1.6rem;
}

.image-box img{
    width: 18vw;
    height: 350px;
    object-fit: cover;
    object-position: center center;
}

.image-box {
    position: relative;
}
.description{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 18vw;
    height: 350px;
    display: none;
}

.cart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart hr{
    display: flex;
    width: 100%;
    margin: 10px 0;
}